ASAN_OPTIONS=allocator_may_return_null=1 allow_addr2line=1 check_initialization_order=1 detect_stack_use_after_return=1 exitcode=55 halt_on_error=1 print_stats=1 strict_string_checks=1 verbosity=1 suppressions=%ROOT%sanitizers/suppressions/asan.supp
